header 
    div.top(style='text-align:right') 
        .sns 
            .twitter 
            .facebook 
            .insta 
            .youtube
        input(type='search', placeholder='Type keyword to search...') 
    .title 
        h1(style='text-align:center; font-size:70px') Wordify
        ul  
            li.first HOME 
            li BUSINESS 
            li TRAVEL 
            li CATEGORIES 
            li ABOUT 
            li CONTACT